#volume-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 1.5rem;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      width: 2rem;
      font-size: 1.5rem;
    }
  }
}
